<div class="row">
  <div class="col-md-12">
    <h2 class="text-success">Tags</h2>
    <hr />
    {{#if categories}}
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="table-warning">
          <tr>
            <th>Tag ID</th>
            <th>Tag Name</th>
          </tr>
        </thead>
        <tbody>
          {{#each categories}}
          <tr>
            <td><a href="/items?category={{id}}">{{id}}</a></td>
            <td><a href="/items?category={{id}}">{{category}}</a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    {{else}}
    <div class="text-center">
      <strong>{{message}}</strong>
    </div>
    {{/if}}
  </div>
</div>
